* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin:0;
  background-color: #fefefe;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 80px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 999;
  
}

.nav {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
  position: relative;
}
.nav > .nav-list > li {
  list-style-type: none;
  
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
 
}
.nav > #nav-check {
    display: none;
}
.contenedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  color:black;
 
}

.logo i {
  font-size: 22px;
  color: #030303; 
  
}

.logo-shopping {
font-size: 22px;
  color: black;
list-style: none;
text-decoration: none;

}

.logo-shopping a {
  color: black;
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  
}



.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 18px;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.social-icons a:hover {
  background-color: #d4af37;
  color: black;
}



.imagen-banner img {
  max-width: 100%;              
  height: auto;                  
  display: block;               
  object-fit: contain;            
}

/* .tarjetas-de-productos {
display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.tarjeta-p {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;

  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  flex: 1 1 33.33%;
} */

.tarjetas-de-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.tarjeta-p {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  flex: 1 1 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}


.tarjeta-p img {
  width: 100%;
  max-height: 160px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 10px;
}
button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#carrito {
  margin-top: 40px;
  border-top: 2px solid #000;
  padding-top: 20px;
      display: block;
    position: absolute;
    background-color: white;
    padding: 20px;
    left: -1px;
}

ul {
  list-style: none;
  padding: 0;
}

.carrito-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contador {
  background: crimson;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

/* Footer  */
footer {
  background: #f1f1f1;
  text-align: center;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 14px;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #d4af37;
}

/* Media queries para tablet  */

/* @media (min-width: 600px) { */
 @media (max-width: 1024px) and (min-width: 600px) {
header {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }

  .contenedor-header {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar li {
    padding: 8px 0;
    font-size: 16px;
  }

  .tarjetas-de-productos {
    justify-content: center;
    padding: 30px 20px;
   
   
  }

  /* 2 tarjetas por fila */
  .tarjeta-p {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  } 


  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 100%;
  }

/* Media queries para celulares  */


  @media (max-width: 599px) {
  header {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar li {
    padding: 6px 0;
    font-size: 14px;
  }

  .imagen-banner {
    height: auto;
    padding: 10px;
    width: 100%;
  }

  /* una tarjeta por fila */
  .tarjetas-de-productos {
flex-wrap: wrap;
    width: 100%;
    padding: 20px;
  }

  .tarjeta-p {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}


@media (min-width: 1025px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .footer-section {
    text-align: center;
  }
  }

.copy-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}